[alias]
    st = status
    cm = commit -m
    p = push
    co = checkout
    b = branch
[credential]
	helper = store
[user]
    email = chulkovroma@mail.ru
    name = ElectricR
[url "ssh://git@bb.yandex-team.ru/"]
  insteadOf = https://bb.yandex-team.ru/scm/
