* { all: unset; }

.cmain_box {
    margin-top: 1em;
    margin-bottom: 0.4em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
    padding: 0.5em;
    background-color: #0E0A13;
}
