##############################################
# Config
##############################################
# Sidebar
set sidebar_visible
set sidebar_format = "%B%<F? [%F]>%* %<N?%N>"
set mail_check_stats # Autoupdate mailboxes

# Misc
set delete = yes # Do not prompt after sync
set sort = threads
set sort_aux = reverse-last-date-received
set header_cache = "~/.cache/neomutt/headers"
