##############################################
# Keybinds
##############################################
## Unbind
unbind *
unbind * <Enter>
unbind * <Return>
unbind * <Esc>b
unbind * <Esc>b
unbind * q
unbind * ?
unbind * <F1>
unbind * <F2>
unbind * :
unbind * \Cb
unbind * y

## Bind
### Generic
bind generic h exit
bind generic ? help
bind generic : enter-command

### Pager
bind pager h exit
bind pager ? help
bind pager j next-line
bind pager k previous-line
bind pager \Cd half-down
bind pager \Cu half-up
bind pager / search
bind pager n search-next
bind pager N search-opposite
bind pager gg top
bind pager G bottom
bind pager x view-attachments

### Index
bind index q quit
bind index j next-entry
bind index k previous-entry
bind index c change-folder
bind index J sidebar-next
bind index K sidebar-prev
bind index <Return> sidebar-open
bind index l display-message
bind index t sidebar-toggle-visible
bind index d delete-message
bind index D undelete-message
bind index r sync-mailbox
bind index s save-message
macro index m "<clear-flag>O"
bind index n next-unread
bind index p previous-unread

bind attach <Return> view-attach
bind attach j next-entry
bind attach k previous-entry
